@import '_variables.scss';


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: $navbar-height;
    z-index: 1000;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.navBar.scrolled {
    background-color: rgba(0, 0, 0, 1); 
    bottom: 0; 
    opacity: 1;
}

.grid {
    display: flex;
    align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.logo img {
    height: 75px;
    width: 100px;
    animation: spin 10s linear infinite;
}

nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
        margin: 0 40px;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);  
        padding: 5px 10px;
        border-radius: 5px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        transition: color 0.3s ease;

        &:hover {
          color: #fff // One of the colors from your palette
        }

        &:active{
          color: #fff
        }
    }
}

@keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .shimmerEffect {
    background: linear-gradient(
      to right,
      #3a6fda 25%,   
      #5790e7 50%,   
      #3a6fda 100% 
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
  }

.actionButtons {
    cursor: pointer;
    color: #15151b;
    background: linear-gradient(#4a8fe7, #6db2f3);
    border-radius: 26px;
    width: 140px;
    height: calc($navbar-height/1.5);
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .fullSizeLink {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: calc($navbar-height/1.5); // This should be the same as your button height to vertically center the text
      color: black;     // Inherit the color of the parent (button)
      text-decoration: none;
  }
  
}
