@import '_variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0); // One of the colors from your palette
}

.grid {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
    width: 100px;
}

nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
        margin: 0 40px;
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: white; // One of the colors from your palette
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #aafe00 ; // One of the colors from your palette
        }
    }
}

.actionButtons {
    cursor: pointer;
    color: #15151b;
    background: linear-gradient(#b632fa, #487fee);
    border-radius: 26px;
    width: 172px;
    height: 52px;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      background-color: linear-gradient(to left,  #b632fa, #487fee); 
  }
}
