@import '_variables.scss';

// Styles a smaller rectangle that only runs the length of the text

.timelineItem {
    float: left;

    .content{
        padding-top: 100px;
        padding-left: 100px;
        position: absolute;
    }
    // background-color: red;

    // &.fade {
    //     opacity: 0;
    //     transition: opacity 1;

    //     &.visible {
    //         opacity: 1;
    //     }
    // }

}