@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import '_variables.scss';

// Colors
$primary-light: #E0E0E2;
$accent: #81D2C7;
$secondary-light: #B5BAD0;
$secondary-dark: #7389AE;
$primary-dark: #3B5C7A;


.container {
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,10);   
    // background-color: #000000;
    box-shadow: 0px 4px 10px rgba(0,0,0,10);

}

.heroSection {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;

    .heroImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }

    h1 {
        position: absolute;
        // text-align: center;
        color: whitesmoke;
    }

    h1 {
        top: 30%;
        font-size: 3rem;
        font-size: 82px;
        font-weight: 800;
        color: #fff;
        text-shadow: 0px 0px 3px $primary-purple;
        
    }

    p {
        position: absolute;
        top: 70%;
        width: 100%;
        // transform: translateX(50%);
        font-size: 1.5rem;
        text-align: center;
        color: whitesmoke;
    }

    }

.interactiveSection {
    justify-content: space-between;
    margin: 50px 0;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    
            & > article {
                flex: 1;
                padding: 20px;
                border-radius: 5px;
                padding-left: 30px;

                h2 {
                    color: white; 
                    font-weight: bold;
                    font-size: 3rem;
                    padding-bottom: 50px;
                }

                ul {
                    padding-left: 0; 
                    // remove default padding

                    li {
                        position: relative;
                        margin-bottom: 50px; 
                        padding-left: 1rem; // space between bullet and list

                        &::before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            color: black;
                            font-size: 1.5rem; // size of the custom bullet
                        }
                }
            }
        }
        img {
            max-width: 100%;
            height: 488px;
            width: 488px;
            float: right;

        }
    }
        
    


.aboutSection {
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/path/to/your-parallax-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .parallaxContent {
        text-align: center;
        padding-top: 150px;

        h2, p {
            color: $primary-dark;
        }
    }
}

.quickLinksSection {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    .linkItem {
        flex: 1;
        margin: 0 10px;

        h2, p {
            text-align: center;
            color: $secondary-dark;
        }
    }
}

.newsletterSection {
    background-color: black;
    padding: 50px 0;
    text-align: center;

    h2, p {
        color: whitesmoke;
        transform: translateX(-10%);
    }

    form {
        margin-top: -40px;
        transform: translateX(20%);

        input {
            padding: 15px;
            border: none;
            border-radius: 20px;
            margin-right: 20px;
        }

        button {
            padding: 15px 30px;
            background: linear-gradient(#b632fa, #487fee);
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($accent, 10%);
            }
        }
    }
}
