@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import '_variables.scss';

// Colors
$primary-light: #E0E0E2;
$accent: #81D2C7;
$secondary-light: #B5BAD0;
$secondary-dark: #7389AE;
$primary-dark: #3B5C7A;

@keyframes slideFade {
    0%, 10% {
        opacity: 0;
        transform: translateX(100%);
    }
    20%, 80% {
        opacity: 1;
        transform: translateX(0);
    }
    90%, 100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.container {
    margin: 0 auto;
    background: #000000;
    box-shadow: 0px 0px 0px rgb(0, 0, 0,0);
    border-radius: 30px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;


.heroSection {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;

    .heroImage {
        width: 70%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
    }

    .centeredContainer{
        position: absolute;
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);
    }

    h1 {
        animation: slideFade 8s infinite;
        color: whitesmoke;
        font-size: 30px;
        font-weight: 800;
        text-shadow: 0px 0px 3px black;
    }
}


.interactiveSection {
    justify-content: space-between;
    margin: 50px 0;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    
            & > article {
                flex: 1;
                padding: 20px;
                border-radius: 5px;
                padding-left: 30px;

                h2 {
                    color: white; 
                    font-weight: bold;
                    font-size: 3rem;
                    padding-bottom: 50px;
                }

                ul {
                    padding-left: 0; 
                    // remove default padding

                    li {
                        position: relative;
                        margin-bottom: 50px; 
                        padding-left: 1rem; // space between bullet and list

                        &::before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            color: black;
                            font-size: 1.5rem; // size of the custom bullet
                        }
                }
            }
        }
        img {
            max-width: 100%;
            height: 488px;
            width: 488px;
            float: right;

        }
    }
        
    


.aboutSection {
    height: 800px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../public/im1.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .parallaxContent {
        text-align: center;
        padding-top: 150px;

        h2, p {
            color: white;
        }
    }
}

.quickLinksSection {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    .linkItem {
        flex: 1;
        margin: 0 10px;

        h2, p {
            text-align: center;
            color: white;
        }
    }
}

.newsletterSection {
    background-color: black;
    padding-bottom: 100px;
    text-align: center;

    h2, p {
        color: whitesmoke;
        transform: translateX(-10%);
    }

    form {
        margin-top: -40px;
        transform: translateX(20%);

        input {
            padding: 15px;
            border: none;
            border-radius: 20px;
            margin-right: 20px;
        }

        button {
            padding: 15px 30px;
            background: linear-gradient(#7db9e8, #3a8d9e);
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
}

}