@import '_variables.scss';

.mainContainer{
    display: flex;
    background-color: black;
    flex-direction: row;
    height: 100vh;
    color: white;
    align-items: center;

    .centerContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
        width: 100%;
        height: 79%;

        .employeeImage{
            display: flex;
            flex-direction: column;
            width: 44%;
            justify-content: flex-end;
            }

        .employeeDescription{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
            font-weight: 800;
            font-size: 1.2rem;
            letter-spacing: .2em;
            line-height: 1;
            align-items: center;
            background-color: black;
            color: white;
            gap: 12px;

            .isStrongName{
                font-size: 32px;
                font-weight: bolder;
                letter-spacing: -.5px;
                line-height: 38px;

            }

            .hiddenBio{
                display: flex;
                flex-direction: column;
                color: white;
                background-color: black;
                box-shadow: none;

                .wholeBio{
                    display: none;
                    max-height: 300px;
                    overflow-y: auto;
                    padding: 20px;
                }
            }

            .hiddenBio.active .bio{
                display: block;
            }

            .hiddenBio.no-scroll {
                overflow: hidden;
            }
        }
    

    }

}