{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCamera</title>
</head>
<body onload="showGif()">
    <div>
        <!-- <div id="gifContainer"></div> -->
        <img src="{% url 'live_camera' %}">
        <h1 id = 'repCount'> Reps: 0</h1>
        <script>
           function fetchRepCount () {
            fetch('rep_count')
            .then(response => response.json())
            .then(data => {
                document.getElementById('repCount').textContent = 'Reps: ' + data.rep_count;
            })
            .catch(error => {
                console.log('Error fetching rep count: ', error)
            })
           }
           setInterval(fetchRepCount, 200)
        </script>
    </div>
</body>
</html>