.item {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 1s;
    pointer-events: none;

    .rightImage {
        height: 356px;
        width: 356px;
        padding-bottom: 30px;
    }
}

.enter {
    opacity: 0;
}

.enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.exit {
    opacity: 1;
}

.exit-active {
    opacity: 0;
    transition: opacity 1s;
}
